.container {
    width: 600px !important;
    height: 400px !important;
    display: flex !important; 
    flex-direction: column !important;
}

.chartWrapper {
  position: relative;
  width: 100%;
  height: 350px;
  
  @media (max-width: 700px) {
    height: 450px; 
  }
}


@media (max-width: 700px) {
  :global(.recharts-default-legend) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  
  :global(.recharts-legend-item) {
    margin: 0 8px !important;
  }
}